{% load static %}

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}" >  
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">

{% if latest_blog_list %}
  {% for blog in latest_blog_list %}
    <ul>
      <li>
        <img src="{% static blog.thumbnail %}" alt="{{ blog.title }}" width="200" height="300"></img>
        <a href="{% url 'blog:detail' blog.id %}">{{ blog.id }}: {{ blog.title }}</a>
      </li>
    </ul>
  {% endfor %}
{% endif %}

<!-- A button for adding a new blog post -->
<a class="button" href="{% url 'blog:add' %}">New post</a>
